img {
	height: 200px;
}

#walrus-showing {
	display: none;
}

#emu-showing {
	display: none;
}

.clickable, .clickable2 {
	cursor: pointer;
	color: #0088cc;
}

.clickable:hover {
	text-decoration: underline;
}